.product-info {
	padding: 20px 0;
	&-header {
		margin-bottom: 16px;
		.info-brand {
			@include text-style(13, $blue);
			font-weight: 700;
			&:active { opacity: 0.4; }
		}
		h1.info-title {
			@include text-style(18, $dark);
			font-weight: 400; margin-bottom: 4px;
		}
		.info-review {
			@include flexbox(start);
			.star-rating {
				@include star-rating(13px);
				margin-right: 8px;
			}
			p {
				@include text-style(13, $blue);
				font-weight: 700;
			}
		}
	}
	&-price {
		margin-bottom: 16px;
		.info-original-price, .info-sale-price { @include flexbox(start, center); }
		.discount-rate {
			font-size: 20px; line-height: 24px; font-weight: 700; color: $blue; margin-right: 6px;
			.rate { font-family: $font-price; }
			.percent { font-family: $font-main; }
		}
		.price-20 { margin-right: 7px; }
		.info-point {
			@include text-style(13, $secondary);
			strong { color: $blue; }
		}
		.info-sale-price { margin-bottom: 12px; }
	}
	&-delivery {
		border-top: 1px solid $border; padding-top: 12px;
		span { display: block; margin-bottom: 2px; }
	}

	@include responsive(T) {
		padding: 0;
		&-header {
			.info-brand { margin-bottom: 8px; display: inline-block; }
			h1.info-title { @include text-style(24); margin-bottom: 8px; }
		}
		.info-review {
			.star-rating { font-size: 16px; }
		}
	}
}