.score-stats {
	&-list {
		display: inline-block;
	}
	&-item {
		@include flexbox(start, center);
		@include text-style(12, $secondary);
		margin-bottom: 4px;
		&.is-active {
			dt, .count { font-weight: 700; color: $blue; }
		}
		&:last-child { margin-bottom: 0; }
		dt { margin-right: 4px; }
		dd {
			@include flexbox;
			.bar-graph {
				width: 70px; height: 5px; border-radius: 5em; background: $border; margin-right: 4px; overflow: hidden;
				.active-bar { width: 30px; height: 5px; background: $blue; border-radius: 5em; }
			}
			.count { font-weight: 400; }
		}
	}

	@include responsive(T) {
		&-item {
			dt { margin-right: 8px; }
			dd {
				@include flexbox;
				.bar-graph { width: 180px; margin-right: 8px; }
			}
		}
	}
}