.user-gallery {
	margin: 0 -#{$grid-margin}; overflow: hidden;
	&-slider { margin-bottom: 4px; position: relative; }
	&-controls {
		@include flexbox(between);
		@include pos-center;
		width: 100%; padding: 0 52px;
		padding: 0 30px;
		.control-button {
			@include flexbox;
			width: 40px; height: 40px; border-radius: 5em; font-size: 28px; color: $primary; background-color: $white; transition: all 100ms ease-in-out;
			&:active, &:hover { color: $white; background-color: $blue; }
			&.is-prev {
				i { transform: rotate(90deg); margin-left: -3px; }
			}
			&.is-next {
				i { transform: rotate(-90deg); margin-right: -3px; }
			}
		}
	}
	.thumbnail-list {
		@include flexbox(start); padding: 0 2px; overflow-x: auto;
		&::-webkit-scrollbar { display: none; }
	}
	.thumbnail-item {
		margin-right: 4px;
		&:last-child { margin-right: 0 }
		button {
			@include flexbox();
			width: 64px; height: 64px; border-radius: 4px; overflow: hidden;
			img { display: block; width: 64px; height: 64px; object-fit: cover; }
		}
		&.tns-nav-active {
			button { border: 3px solid $blue; }
		}
	}

	@include responsive(T) {
		margin: 0;
		&-slider { margin-bottom: 6px; }
		.thumbnail-list { padding: 0; }
		.thumbnail-item {
			button {
				width: 75px; height: 75px;
				img { width: 75px; height: 75px; }
			}
		}
	}
}