.order-cta {
	@include flexbox;
	position: fixed; left: 0; bottom: 0; background-color: $white; width: 100%; height: $order-cta-height; z-index: $product-tab-level; padding: 0 4px;
	.btn-ghost {
		@include column-flexbox;
		width: 72px; flex-shrink: 0; flex-grow: 0; margin-right: 4px;
		i{ font-size: 24px; color: $primary; }
		span { font-size: 10px; line-height: 16px; letter-spacing: -0.005em; color: $secondary; font-weight: 400; }

		&.is-active {
			i { color: $blue; }
		}
	}
	.btn-primary {
		flex-grow: 1;
	}
}